.the-height{
   height: 500px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100% !important;
   margin: 0 auto;
   position: relative;
}

.poweredby-logo{
position: absolute;
bottom: 0; 
right: 0;
}

.hero-mid-text{
   text-align: center;
}