.navigation-panel{
  background: #007D85;
  font-size: 24px;
  color: white;
}

.navigation-panel a{
    text-decoration: none;
}

.navigation-panel .nav-item{
width: 20%;
}

.navigation-panel a:hover{
    border-bottom: 1px solid white;
}
